/* index.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  background-image: url('https://wallpaper.forfun.com/fetch/62/624e27fde335d49e2dd3c6b75c6027a3.jpeg');
  background-size: cover;
  background-position: center;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}